apps/desktop/node_modules/
apps/desktop/dist/
/dist/
apps/desktop/src-tauri/target/
apps/desktop/src-tauri/gen/schemas/
apps/desktop/src-tauri/resources/exiftool/macos/
apps/desktop/src-tauri/resources/exiftool/windows/
.DS_Store
